// Yellow theme - could do yellow on borders? - links on inside pages?

// Color variables
$black: #181818;
$white: #fff;
$gray: #777;

$orangeish: #f59f49;
$eggshellish: #faf3cf;
$purpleish: #8b76ad;
$darkpurple: #4f3c6e;

// Config
$color-background: $orangeish !default;
$color-dot-accent: $purpleish !default;
$color-foreground: $eggshellish !default;
$color-title: $purpleish !default;
$color-body-text: $black !default;
$color-text-accent: $eggshellish !default;
$color-code: $gray !default;
$color-nav-link: $eggshellish !default;
$color-primary-link: $gray !default;
$color-border: $eggshellish;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities";